In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("hf.csv")
df

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
X = df.drop(["DEATH_EVENT"], axis=1)
y = df["DEATH_EVENT"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
X_train.head()

      age  anaemia  creatinine_phosphokinase  ...  sex  smoking  time
101  75.0        0                       582  ...    1        0    87
69   65.0        0                       113  ...    1        0    67
31   85.0        0                        23  ...    1        0    28
172  70.0        1                       171  ...    1        1   146
148  75.0        1                       582  ...    1        0   113

[5 rows x 12 columns]

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
ct = ColumnTransformer(
    [("imputador", SimpleImputer(), ["age", "creatinine_phosphokinase", "ejection_fraction", "platelets", "serum_creatinine", "serum_sodium", "time"]),
     ("nada", "passthrough", ["anaemia", "high_blood_pressure", "diabetes", "sex", "smoking"])]
)

x_prueba = ct.fit_transform(X_train)

In [ ]:
len(x_prueba[0])

12

In [ ]:
y_train

101    0
69     1
31     1
172    0
148    1
      ..
188    0
71     0
106    0
270    0
102    0
Name: DEATH_EVENT, Length: 200, dtype: int64

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
pipe = Pipeline([("transformador", ct), ("svc", SVC())])

In [16]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('transformador',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('imputador',
                                                  SimpleImputer(add_indicator=False,
                                                                copy=True,
                                                                fill_value=None,
                                                                missing_values=nan,
                                                                strategy='mean',
                                                                verbose=0),
                                                  ['age',
                                                   'creatinine_phosphokinase',
                                                   'ejection_fraction',
                                                   'platelets',
                                                   'serum_creati...
                                                   'serum_sodium', 'time']),
                                                 ('nada', 'passthrough',
                                                  ['anaemia',
                                                   'high_blood_pressure',
                                                   'diabetes', 'sex',
                                                   'smoking'])],
                                   verbose=False)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [17]:
from sklearn.metrics import accuracy_score
y_pred = pipe.predict(X_test)
accuracy_score(y_test, y_pred)

0.5757575757575758

In [18]:
from sklearn.model_selection import GridSearchCV

parametros = {"svc__kernel": ["linear", "rbf"], "svc__C": [1, 10]}

clf = GridSearchCV(pipe, parametros)
clf.fit(X_train, y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('transformador',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('imputador',
                                                                         SimpleImputer(add_indicator=False,
                                                                                       copy=True,
                                                                                       fill_value=None,
                                                                                       missing_values=nan,
                                                                                       strategy='mean',
                                                                                       verbose=0),
                                                                         ['age',
                                                                          'creatinine_phosphokinase...
                                            coef0=0.0,
                                            decision_function_shape='ovr',
                                            degree=3, gamma='scale',
                                            kernel='rbf', max_iter=-1,
                                            probability=False,
                                            random_state=None, shrinking=True,
                                            tol=0.001, verbose=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'svc__C': [1, 10], 'svc__kernel': ['linear', 'rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [19]:
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.797979797979798