# Variables, comentarios y otros elementos básicos

## Variables
* ¿Qué es una variable?

In [ ]:
x = 5

In [ ]:
print(x)

### Sentencias y Comentarios
* Cada linea de codigo es una sentencia.
* Se hacen comentarios con el simbolo "#". Lo que va después no va a ser interpretado

In [ ]:
variable_1 = 10                          # Un salto de linea especifica el final de sentencia
variable_2 = "bla bla bla largo bla " + \
             " blabla"                # Un \ indica que la sentencia continúa en la siguiente linea (mala práctica)

In [ ]:
print(variable_1)

In [ ]:
print(variable_2)

## Tipos de variables

In [ ]:
nombre = "David"                                 # Cadena de caracteres (string)
edad = 24                                        # Entero (int)
dinero_en_cuenta = 25.89                         # Decimal (float)
en_bancarrota = True                             # Booleano (bool)

In [ ]:
print(type(nombre))
print(type(edad))
print(type(dinero_en_cuenta))
print(type(en_bancarrota))

In [ ]:
print(edad + 4)

¿Qué pasa si trato de sumar una cadena de caracteres con un entero?

In [ ]:
print(nombre + 4)

¿ Y si mi cadena de caracteres es una cadena de caracteres de números ?

In [ ]:
"12" + 4

In [ ]:
"12" + "4"

### Casting o modificación manual de tipos

* utilizamos los comandos str, int, float para cambiar el tipo de variable

In [ ]:
str(edad)         # Conversión del valor 24 por "24"

In [ ]:
int(dinero_en_cuenta)        # Conversión del decimal 25.89 a entero... aproxima al entero inferior.

In [ ]:
float(en_bancarrota)     # Conversión de booleanos a valores numéricos 0 y 1

In [ ]:
float(nombre)      #¿Qué pasa?

### None - Valor nulo

* Para cuando queremos decir que un valor está vacío.
* IMPORTANTE: el 0 no es vacío, es numérico

In [ ]:
vacio = None
vacio

In [ ]:
type(vacio)

### Interacción con el usuario
* A veces queremos que el usuario ingrese información.
* Para esto está el comando "input"

In [ ]:
entrada = input("Escribe alguna cosa: ")
"Has escrito: " + entrada

### Operadores básicos

In [ ]:
10 + 10

In [ ]:
10 - 10

In [ ]:
8/2

In [ ]:
8*2

In [ ]:
2**3

# Listas, Tuplas y Diccionarios

In [1]:
# Tuplas
tupla_x = (1, 2, 3, 4)

# Listas
lista_x = [1, 2, 3, 4]

# Cadenas
cadena_x = "tres tristes tigres"

### Conversión/casting entre tipos de secuencia</b>

In [2]:
# Lista a tupla
tuple(lista_x)

(1, 2, 3, 4)

In [3]:
# Lista a tupla
list(tupla_x)

[1, 2, 3, 4]

In [4]:
# Cadena a tupla
tuple(cadena_x)

('t',
 'r',
 'e',
 's',
 ' ',
 't',
 'r',
 'i',
 's',
 't',
 'e',
 's',
 ' ',
 't',
 'i',
 'g',
 'r',
 'e',
 's')

### Secuencias anidadas

In [5]:
# Tupla anidada
tupla_anidada = (1, 2, (3, 4), [1, 2, 3])
tupla_anidada

(1, 2, (3, 4), [1, 2, 3])

In [6]:
# Lista anidada
list_anidada = [1, 2, 3, [4, 5], "prueba", (1, 2, 3)]
list_anidada

[1, 2, 3, [4, 5], 'prueba', (1, 2, 3)]

### Concatenación

In [7]:
# Concatenación de listas
list_1 = [1, 2, 3, 4]
list_2 = [5, 6, 7, 8]
list_3 = list_1 + list_2
list_3

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
# Concatenación de candenas
str_1 = "esto es una cadena"
str_2 = "esto es otra cadena"
str_3 = str_1 + str_2
str_3

'esto es una cadenaesto es otra cadena'

### Multiplicación

In [9]:
# Multiplicación de listas
list_1 = [1, 2, 3]
list_2 = list_1 * 2
list_2

[1, 2, 3, 1, 2, 3]

In [11]:
# Multipicación de cadenas
str_1 = "hola"
str_2 = str_1 * 2
str_2

'holahola'

### Comprobación de si un elemento existe en la secuencia

In [ ]:
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

In [ ]:
# Elemento en lista
4 in list_1

In [ ]:
# Elemento no en lista
5 not in list_1

In [ ]:
# Elemento en cadena
"esto" in str_1

In [ ]:
# Elemento no en cadena
"z" not in str_1

##### Acceso a un elemento de la secuencia por posición (índice positivo)

In [ ]:
# Indexación positiva en listas
list_1 = [1, 2, 3, 4]
list_1[3]

In [ ]:
# Indexación positiva en cadenas
str_1 = "esto es una cadena"
str_1[5]

##### Acceso a un elemento de la secuencia por posición (índice negativo)

In [ ]:
# Indexación negativa en listas
list_1 = [1, 2, 3, 4]
list_1[-3]

In [ ]:
# Indexación negativa en cadenas
str_1 = "esto es una cadena"
str_1[-5]

### Slicing

In [15]:
lista_larga = [3, 4, 7, 22, 100]
palabra_larga = "parangaricutirimicuaro"

In [12]:
lista_larga[:3]

[1, 2, 3]

In [13]:
lista_larga[2:3]

[3]

In [16]:
palabra_larga[:-3]

'parangaricutirimicu'

In [17]:
palabra_larga[::2]

'prnaiuiiiur'

In [18]:
# Desde el principio hasta el final con saltos hacia atrás (estructura inversa)
lista_larga[::-1]

[100, 22, 7, 4, 3]

## Longitud

In [19]:
numeros = [2,3,3,3,4,5,6,6]
frase = "Esta es una frase"

In [20]:
# Longitud de una lista
len(numeros)

8

In [21]:
# Longitud de una cadena
len(frase)

17

##### Obtención del primer índice de un elemento

In [ ]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

In [ ]:
# Posición del primer elemento coincidente en tuplas
tuple_1.index(3)

In [ ]:
# Posición del primer elemento coincidente en listas
list_1.index(4)

In [ ]:
# Posición del primer elemento coincidente en cadenas
str_1.index("t")

##### Obtención del número de repeticiones de un elemento

In [ ]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

In [ ]:
# Número de veces que se repite el elmento indicado en la tupla
tuple_1.count(1)

In [ ]:
# Número de veces que se repite el elemento indicado en la lista
list_1.count(1)

In [ ]:
# Número de veces que se repite el elemento indicado en la cadena
str_1.count("e")

##### Extracción de elementos a variables

In [ ]:
# Asignación desde secuencia a múltiples variables
tuple_1 = (1, 2, 3, 4)
var_1, var_2, var_3, var_4 = tuple_1

In [ ]:
var_1

In [ ]:
var_2

In [ ]:
var_3

In [ ]:
var_4

In [ ]:
# Asignación "selectiva" desde secuencia a múltiples variables
list_1 = [1, 2, 3, 4]
var_1, _, var_3, _ = list_1

In [ ]:
var_1

In [ ]:
var_3

### Funciones aplicables sólo a listas

##### Creación de secuencias numéricas

In [ ]:
# Creación de iteradores
range(10)

In [ ]:
# Lista a partir de iterador desde 0 hasta el valor indicado (no incluido)
list(range(10))

In [ ]:
# Lista a partir de iterador desde valor inicial (incluido) hasta valor final (no incluido)
list(range(5, 10))

In [ ]:
# Lista a partir de iterador desde valor inicial (incluido) hasta valor final (no incluido) con saltos específicos
list(range(0, 100, 2))

###### Adición de elementos a una lista (por el final)

In [ ]:
list_1 = ["uno", "dos"]
list_1.append("tres")
list_1

###### Inserción un elemento en una posición específica

In [ ]:
list_1 = ["dos", "tres"]
list_1.insert(0, "uno")
list_1

##### Asignación de valor a un slice

In [ ]:
# Asignación de iguales dimensiones que el slice
list_1 = [1, 2, 3, 4, 5]
list_1[2:4] = [5, 6]
list_1

In [ ]:
# Asignación de dimensiones distintas al slice
list_1[2:5] = [3, 4]
list_1

###### Recuperación y eliminación de un elemento en una posición específica

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1.pop(3)

In [ ]:
list_1

###### Eliminación del primer elemento coincidente (no anidado, es decir, sólo primer nivel)

In [ ]:
list_1 = [1, 2, 3, [4, 5]]
list_1.remove([4, 5])

In [ ]:
list_1

##### Eliminación de elementos (por posición)

In [ ]:
list_1 = [1, 2, 3, 4, 5]
del list_1[2]

In [ ]:
list_1

##### Ordenación de elementos (modificando la lista original)

In [ ]:
list_1 = [1, 3, 4, 2, 5]
list_1.sort()

In [ ]:
list_1

In [ ]:
list_1.sort(reverse=True)

In [ ]:
list_1

##### Recuperación inversa de elementos (modificando la lista original)

In [ ]:
list_1 = [1, 3, 4, 2, 5]
list_1.reverse()

In [ ]:
list_1

### Funciones aplicables únicamente a cadenas

##### Conversión a mayúsculas/minúsculas

In [ ]:
str_1 = "esto es una prueba"
str_1.upper()

In [ ]:
str_2 = "ESTO ES UNA PRUEBA"
str_2.lower()

##### Segmentación por carácter

In [ ]:
str_1 = "esto es una prueba"
str_1.split(" ")

##### Reemplazo en cadenas

In [ ]:
# Reemplazo global
str_1 = "esto es una prueba una"
str_1.replace("una", "otra")

In [ ]:
# Especificación de número máximo de reemplazos
str_1.replace("una", "otra",1)

## Diccionarios (dict)

Un diccionario es una estructura que:
<ul>
<li>Contiene un listado de pares clave-valor.</li>
<li>También se puede llamar array asociativo o <i>hash map</i>.</li>
<li>Sin orden</li>
<li>Cuyas claves son cadenas de caracteres o valores numéricos.</li>
<li>Cuyos valores son valores o secuencias (anidadas).</li>
</ul>

### Funciones aplicables a diccionarios

##### Creación de un diccionario

In [ ]:
# Cadenas como claves
dict_1 = {"clave_1": 1, "clave_2": "prueba"} 
dict_1

In [ ]:
# Valores numéricos como claves
dict_2 = {10:1, 2:2}
dict_2

##### Creación de diccionarios anidados

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": {"clave_21": [1, 2, 3], "clave_22": "prueba"}}
dict_1

##### Creación de diccionarios desde listas clave-valor

In [ ]:
list_1 = [("uno", 1), ("dos", 2), ("tres", 3), ("cuatro", 4), ("cinco", 5)]
dict_1 = dict(list_1)
dict_1

##### Unión de dos diccionarios

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_2 = {"clave_3": 3, "clave_4": 4}
dict_1.update(dict_2)  
dict_1

##### Inserción (o modificación) de un elemento del diccionario por clave

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_1["clave_3"] = "prueba"
dict_1["clave_1"] = 50
dict_1

##### Recuperación y eliminación de un elemento de una clave específica

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
dict_1.pop("clave_2")

In [ ]:
dict_1

##### Comprobación de si un elemento existe en el diccionario

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
"clave_1" in dict_1

In [ ]:
1 in dict_1

##### Eliminación de un elemento de un diccionario

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
del dict_1["clave_1"]

In [ ]:
dict_1

##### Eliminación de todos los elementos de un diccionario

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
dict_1.clear()
dict_1

##### Acceso a un elemento por clave

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
dict_1["clave_1"]

##### Recuperación de elementos como una lista

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
list(dict_1.items())

##### Recuperación de claves como una lista

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
list(dict_1.keys())

##### Recuperación de valores como una lista

In [ ]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
list(dict_1.values())

# Bases de datos
https://www.javatpoint.com/types-of-databases

<img src="https://static.javatpoint.com/dbms/images/types-of-databases.png">

# Relacional

In [1]:
import pandas as pd

In [2]:
df_bmi = pd.read_csv("datos/body_index.csv")
df_bmi

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

# No relacional

In [7]:
import json

with open('datos/ig.json') as json_file:
    data = json.load(json_file)
personas = [d[1] for d in data["media_likes"]]

In [12]:
from collections import Counter
Counter(personas).most_common(5)

[('9gag', 984),
 ('futbolalreves', 864),
 ('ultimahoracol', 435),
 ('moriderisa', 398),
 ('fuesinculpa', 329)]