In [12]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("datos/drug_chart.csv")

In [16]:
df

,Unnamed: 0,Prescriptions,prescription_count
0,5,"AMLODIPINE, LOSARTAN, SIMVASTATIN",3.0
1,6,"AMLODIPINE, NAPROXEN, SERTRALINE, TAMSULOSIN",4.0
2,47,"INDAPAMIDE, LEVOTHYROXINE, POTASSIUM CHLORIDE,...",4.0
3,51,"DIGOXIN, LOSARTAN, METFORMIN, METOPROLOL, PRAV...",7.0
4,56,"AMLODIPINE, ASPIRIN, ATORVASTATIN, GLIPIZIDE, ...",10.0

In [14]:
def prescription_list(row): 
    """ This function returns a list of all the prescription       medication an individual is prescribed"""
    if row['Prescriptions'] is np.nan: 
        return(np.nan)
    else: 
        drugs = row['Prescriptions'].split(", ")
        
        drugs_list = []
        
        for i in drugs: 
                drugs_list.append(i)      
           
        return(drugs_list)        
    
df['prescription_list'] = df.apply(prescription_list, axis=1)
#display
df.head()

,Unnamed: 0,Prescriptions,prescription_count,prescription_list
0,5,"AMLODIPINE, LOSARTAN, SIMVASTATIN",3.0,"[AMLODIPINE, LOSARTAN, SIMVASTATIN]"
1,6,"AMLODIPINE, NAPROXEN, SERTRALINE, TAMSULOSIN",4.0,"[AMLODIPINE, NAPROXEN, SERTRALINE, TAMSULOSIN]"
2,47,"INDAPAMIDE, LEVOTHYROXINE, POTASSIUM CHLORIDE,...",4.0,"[INDAPAMIDE, LEVOTHYROXINE, POTASSIUM CHLORIDE..."
3,51,"DIGOXIN, LOSARTAN, METFORMIN, METOPROLOL, PRAV...",7.0,"[DIGOXIN, LOSARTAN, METFORMIN, METOPROLOL, PRA..."
4,56,"AMLODIPINE, ASPIRIN, ATORVASTATIN, GLIPIZIDE, ...",10.0,"[AMLODIPINE, ASPIRIN, ATORVASTATIN, GLIPIZIDE,..."

In [3]:
import requests
from bs4 import BeautifulSoup

URL = "https://www.nhs.uk/medicines/metformin/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

In [5]:
results = soup.find(id="about-metformin")

In [7]:
results.text

"\n1. About metformin\nMetformin is a medicine used to treat type 2 diabetes, and to help prevent type 2 diabetes if you're at high risk of developing it.Metformin is used when treating polycystic ovary syndrome (PCOS), although it's not officially approved for PCOS.Type 2 diabetes is an illness where the body does not make enough insulin, or the insulin that it makes does not work properly. This can cause high blood sugar levels (hyperglycaemia).PCOS is a condition that affects how the ovaries work.Metformin lowers your blood sugar levels by improving the way your body handles insulin.It's usually prescribed for diabetes when diet and exercise alone have not been enough to control your blood sugar levels.For women with PCOS, metformin lowers insulin and blood sugar levels, and can also stimulate ovulation.Metformin is available on prescription as tablets and as a liquid that you drink.\n"